.toolBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 63px;
    background: #FFFFFF;
    box-shadow: 0px 5.69014px 5.69014px rgba(0, 0, 0, 0.05); 
    .logo{
        margin-left: 43px;
        img{
            width: 109.64px;
        }
    }
    .header{
        font-style: normal;
        font-size: 22px;
        line-height: 25px;
        text-align: center;
        color: #003B60;
    }
    .icons{
      display: flex;
      margin-right: 60px;
      width: 170px;
      justify-content: space-between;
      .material-symbols-outlined {
        border-radius: 1px;
        font-size: 27.83px;
       }
      .starCount{
        .count{
            top: 20px;
        }
        display: flex;
        color: #FFB636;
        font-style: normal;
        font-size: 24px;
        line-height: 28px;
      }
      .bell{
        //     font-style: #003B60; 
      }
    }
}
@media only screen and (max-width: 600px) {
  .graph, .star, .starCount, .count , .header{
    display: none;
  }
  .logo{
    margin-left: 37% !important;
  }
  .icons{
    margin-right: 20px;
  }
}