<div class="toolBar">
    <div class="logo"><img src="../../../assets/YOW-Logo.png" alt=""></div>
    <div class="header">OKR</div>
    <div class="icons">
        <div class="starCount">
            <span class="material-symbols-outlined">star</span>
            <div class="count">{{this.starCount}}</div>
        </div>
        <div class="bell"><span class="material-symbols-outlined">notifications</span></div>
        <div class="graph"><span class="material-symbols-outlined">monitoring</span></div>
    </div>
</div>