<div class="main">
    <app-top-bar></app-top-bar>
    <app-objective-filter (onShowAddObjectiveDialog)="openDialog()"></app-objective-filter>
    <app-objective-item *ngFor="let objective of objectives" [objective]="objective"></app-objective-item>
</div>
<div class="modal-backdrop" #modalBackdrop></div>
<div class="modal" tabindex="-1" role="dialog" #myModal>
    <div class="modal-header"><span>New Objective</span></div>
    <div class="modal-body">
        <app-new-objective-form></app-new-objective-form>
    </div>
    <div class="modal-footer">
        <div class="cancel" (click)="closeDialog()">Cancel</div>
        <div class="create" (click)="createObjective()">Create</div>
    </div>
</div>