.form{
  .inputs{
    div{
        
    }
    .description{
        width: 505px;
        border: 0;
        outline: 0;
        //font-size: 1.3rem;
        //color: $white;
        padding: 7px 0;
    }
    .picker{
      background: #FFFFFF;
      box-shadow: 0px 0px 12px rgba(25, 16, 62, 0.12);
      border-radius: 4px;
      width: 505px;
      height: 64px;
    }
  }
}