<div class="form">
    <div class="header">New Objective</div>
    <div class="inputs">
        <div>Objective</div>
        <div>Add the objecvtive you would like to achive</div>
        <div class="Picker"><textarea class="description" type="text" formControlName="description"></textarea></div>
        <div class="Picker date"></div>
        <div class="Picker assignie"></div>
        <div class="Picker privacy"></div>
    </div>
    <div class="footer">
        <div class="cancel">Cancel</div>
        <div class="create">Create</div>
    </div>
</div>